<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="bootstrap.min.css">

<head>

    <title>Workshops</title>

</head>

<body class="container">
    
    <% if (locals.message) { %>
        <%= message %>
    <% } %>