
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<div class="jumbotron">
    <h1>Workshops</h1>
    <p>here is the list of workshop</p>
</div>

<a type="button" href="/workshops/workshop" class="btn btn-success btn-lg">Create new workshop</a>

<ul class="list-unstyled">
<% workshops.forEach(function(workshop) { %>
    <li class="media my-4">
        <div class="media-body">
            <h5 class="mt-0 mb-1"><%= workshop.name %></h5>
            <%= workshop.description %>        
        </div>        
        <a type="button" class="btn btn-primary" href="/workshops/update-workshop/<%= workshop.name %>">Update</a>
        <form action="/workshops/remove-workshop/<%= workshop.name %>" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </li>
<% }); %>
</ul>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
