<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<form action="/remove" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name"  placeholder="Workshop Name" required>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
    <a type="button" class="btn btn-secondary" href="/">Return</a>
</form>

<ul class="list-unstyled"></ul>
<% workshops.forEach(function(workshop) { %>
    <li class="media my-4">
        <div class="media-body">
            <h5 class="mt-0 mb-1"><%= workshop.name %></h5>
            <%= workshop.description %>        </div>        
    </li>
<% }); %>
</ul>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
