
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../templates/head %>
</head>
<body class="container">

<div class="jumbotron">
    <h1>Workshops</h1>
    <p>here is the list of workshop</p>
</div>

<a type="button" href="/workshop" class="btn btn-success btn-lg">Create new workshop</a>

<ul class="list-unstyled"></ul>
<% workshops.forEach(function(workshop) { %>
    <li class="media my-4">
        <div class="media-body">
            <h5 class="mt-0 mb-1"><%= workshop.name %></h5>
            <%= workshop.description %>        
        </div> 
        <div>
            <form action="/remove-workshop" method="post">
                <input id="name" name="name" value="<%= workshop.name%>" >
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <a type="button" class="btn btn-info" href="/update-workshop">Modify</a>
        </div>       
    </li>
<% }); %>
</ul>

<footer>
    <% include ../templates/footer %>
</footer>

</body>
</html>
