
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<div class="jumbotron">
    <h1>Workshops</h1>
    <p>here is the list of workshop</p>
</div>

<a type="button" href="/workshop" class="btn btn-success btn-lg">Create new workshop</a>

<ul class="list-unstyled">
<% workshops.forEach(function(workshop) { %>
    <li class="media my-4">
        <div class="media-body">
            <h5 class="mt-0 mb-1"><%= workshop.name %></h5>
            <%= workshop.description %>
        </div>

        <a type="button" href="/workshop/<%= workshop.name %>" class="btn btn-secondary">Edit</a>
        <form action="/remove-workshop" method="post">
            <button type="submit" class="btn btn-danger">Remove</button>
            <input id="name" name="name" type="hidden" value="<%= workshop.name %>">
        </form>
    </li>
<% }); %>
</ul>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
